@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.background {
  background: url('https://lh3.google.com/u/2/d/1GPM2_rvAhRXK0E_o3QypW8OJBiAq7caD=w1919-h937-iv2')
    no-repeat center center/cover;
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  z-index: -1;
  filter: blur(0px);
}

.logo {
  width: 3.5rem;
  margin: 0;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
